.first {
    background-color:#c8c6a7;
    display:flex;
    justify-content:center;
    align-items:center; 
    height: 100%;
    width: 100%;
}

.second {
    background-color: #6e7c7c;
    border-radius: 0 3em 0 3em;
    display:flex;
    box-shadow: 0 0 0 5px coral,
     0 0 0 0.5em #435560,
     0 0 0 0.2em grey;
    width: 60vw;
    min-width: 340px;
    max-height: 15vh;
    justify-content: space-around;
    overflow: hidden;


    div {
        color: white;
    }

    p {
        color: white;
    }

    .third {
        display:flex;
        flex-direction:column;
        justify-content:center;

        button {
            margin:0.1em;
            background-color: #eae3c8;
            padding:0.1em;
            border-radius: 1em;
        }
    }

    .last {
        color:white;
        margin-right:2em;
    }
}