test.js
test2.js
*.txt
/node/node_modules/
/test/simplefolio
/test/robofr/node_modules/
/test/robofr/build/
/node/node_modules/
/node/1/node_modules/
facerecognition/node_modules
/custom-hook-useReducer-Sagas-examples/node_modules/

/myPholio/node_modules/
/myPholio/.gitignore
/myPholio/build/

/js-basics/testSomeJS.js

/jest_test/node_modules/
**/node_modules/